<% if params[:controller] == 'about' %>
<div class="well">
  <h3>Location Info</h3>
  <ul>
    <li>RoR Bookstore</li>
    <li>1 Siam Square</li>
    <li>Bangkok</li>
    <li>Thailand</li>
    <li>Phone +66 555 12345</li>
    <li>email info@thebookstore.co.th</li>
  </ul>
</div>
<% end %>

<% if params[:controller] == 'books' && params[:action] == 'index' || params[:action] == 'show' %>
<div class="list-group">
  <% @categories.each do |category| %>
    <%= link_to category.name, category_path(category.id), class:'list-group-item' %>
  <% end %>
</div>
<% end %>
