<h2>Authors</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Author Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td><%= author.last_name %>, <%= author.first_name %></td>
        <td><%= link_to 'Edit', edit_author_path(author.id) %> | <%= link_to 'Delete', author_path(author.id), method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
